.inline-paragraph {
  display: inline-block;
}

.inline-button {
  margin-left: 8px;
}

.sessions-list-container {
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.sessions-list-items {
  margin: 5px auto;
}

.login-form {
  width: 40%;
  margin: 0 10%;
  border-collapse: collapse;
}

td {
  padding: 6px;
}

#login {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}
